<!DOCTYPE html>
<html lang="en">

<head>
    <style></style>
</head>

<body style="background-color: #e6e6e6;
            font-family: 'Roboto', sans-serif; text-align:center;align-items:center;">
    <div style="font-weight: 800;font-size:large;padding-top:1em"><h1>{{title}}</h1></div>
    <div class="wrapper" style="background-color: #fff;
            align-items: center;
            margin: auto;
            height: fit-content;
            width: 42em;
            margin-top: 1em;
            border-radius: 0.5em;
            text-align:center;">
        <p class="headerText" style="display: flex;
            justify-content: center;margin-right:0.1em;padding-top:1em;
            margin-top: 2.5em;text-align:center;align-items:center;font-weight: 800;
            font-size: large;margin-left:9em">Password Reset Requested:</p>
        <p class="text" style="font-weight: 400;
            font-size: large;padding-bottom:0.1em">To reset your password , visit the following address : </p>
        <button class="button" style="background-color: blue;
            color: #fff;
            font-size: 1em;
            font-weight: bolder;
            border-style: none;
            padding:0.8em;
            border-radius: 0.5em;text-align:center;align-items:center;"><a href={{link}}
                style="text-decoration: none;color:white;">Click here to reset your password</a></button>
        <p class="text" style="font-weight: 400;
            font-size: large;text-align:center;align-items:center;">Your Email : <a style="color:blue">{{email}}</a>
        </p>
        <p class="smalltext" style="margin: 0 !important;
            font-size: 0.8em;text-align:center;align-items:center;">If this was a mistake , just ignore this email and
            nothing will happen</p>
    </div>
    <p class="footer" style="margin-top: 2.5em;
            font-size: 0.8em;text-align:center;align-items:center;">Copywrite &copy; 2023 . {{title}} , All Rights
        Reserved</p>
</body>

</html>