.ant-menu-item-selected,
.ant-menu-item-selected > span {
  color: var(--highlight-yellow) !important;
  background-color: transparent !important;
}

.ant-menu-title-content > a:active {
  background-color: transparent !important;
}

.ant-menu-submenu-selected div {
  color: var(--highlight-yellow) !important;
}

.ant-menu-light:not(.ant-menu-horizontal) .ant-menu-submenu-title:hover {
  background-color: transparent;
}

.ant-menu-light.ant-menu-root.ant-menu-inline {
  border-inline-end: none !important;
}

.ant-menu-item.no-children:hover {
  color: var(--highlight-yellow) !important;
  transition: color 0.1s ease-out !important;
}

a {
  transition: none !important;
}
